@model LoginModel

@{
    ViewBag.Title = Html.LocalizationString("login_view_title");
}

<div class="col-lg-5">
    <h3>@ViewBag.Title</h3>
    <hr />

    <form id="frm" name="frm" action="/user/login?ReturnUrl=@Request.QueryString["ReturnUrl"]" method="post">
        @Html.Partial("_Msg")

        <div class="col-lg-12">
            <span>@Html.LocalizationString("email")</span>
            <input type="email" class="form-control input-lg" name="email" id="email" value="@Model.Email" required />
        </div>
        <div class="col-lg-12">
            <span>@Html.LocalizationString("password")</span>
            <input type="password" class="form-control input-lg" name="password" id="password" value="@Model.Password" required />
        </div>

        @Html.AntiForgeryToken()

        <div class="col-lg-12">
            <input type="submit" value="@Html.LocalizationString("btn_login")" class="btn btn-primary btn-lg" />
        </div>
    </form>
</div>