@model AppModel

@{
    ViewBag.Title = Html.LocalizationString("new_app_title");
}

<div class=" col-lg-5">
    <h3>@ViewBag.Title</h3>
    <hr />

    <form id="frm" name="frm" action="/app/new" method="post">
        <div class="col-lg-12">
            <span>@Html.LocalizationString("app_name")</span>
            <input type="text" class="form-control input-lg" name="Name" id="Name" value="@Model.Name" required />
        </div>

        <div class="col-lg-12">
            <span>@Html.LocalizationString("url")</span>
            <input type="text" class="form-control input-lg" name="Url" id="Url" value="@Model.Url" required />
        </div>

        <div class="col-lg-12">
            <span>@Html.LocalizationString("description")</span>
            <input type="text" class="form-control input-lg" name="Description" id="Description" value="@Model.Description" />
        </div>

        @Html.AntiForgeryToken()

        <div class="col-lg-12">
            <input type="submit" value="@Html.LocalizationString("btn_save")" class="btn btn-success" />
        </div>

        <div class="error">
            @Model.Msg
        </div>
    </form>
</div>